* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  body {
    background: #1e1e1e;
    color: #fff;
    animation: transitionIn 0.75s;
  }


  @keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
     }
    to {
        opacity: 1;
        transform: translateY(0);
      }

    }

  .barra-de-navegacion {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: #1e1e1e;
  }

  .barra-de-navegacion a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .desplegable {
    float: left;
    overflow: hidden;
  }

  .desplegable .boton-desplegable {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .barra-de-navegacion a:hover, .desplegable:hover .boton-desplegable {
    background-color: rgb(83, 83, 83);
  }

  .contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .contenido-desplegable a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .contenido-desplegable a:hover {
    background-color: #ddd;
  }

  .desplegable:hover .contenido-desplegable {
    display: block;
  }

  img {
    width: 20px;
    height: auto;
  }
