<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{{ url_for('static', filename='img/favicon2.ico') }}" type="image/x-icon">
        <title>Idiomas.com</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap"
            rel="stylesheet"/>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
             crossorigin="anonymous"
        />
        <script src="https://kit.fontawesome.com/2fffd61d0d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    </head>
    <body>
        <div class="barra-de-navegacion">
            <a href="/">Inicio</a>
            <a href="contenidoController">Contenido</a>
            <div class="desplegable">
                <button class="boton-desplegable">
                    Idiomas
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="contenido-desplegable">
                    <div class="contenido-desplegable">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/estados-unidos.png') }}" alt="Estados Unidos"> Inglés
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/francia_1.png') }}" alt="Francia"> Francés
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/espana.png') }}" alt="España"> Español
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/portugal.png') }}" alt="Portugal"> Portugués
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/aleman_1.png') }}" alt="Alemania"> Alemán
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/italia_1.png') }}" alt="Italia"> Italiano
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/mandarin_1.png') }}" alt="China"> Mandarín
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/japon.png') }}" alt="Japón"> Japonés
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/corea.png') }}" alt="Corea"> Coreano
                        </a>
                        <a href="contenido.jsp">
                            <img src="{{ url_for('static', filename='img/rusia.png') }}" alt="Rusia"> Ruso
                        </a>
                    </div>
                </div>
            </div>

            <a href="#">Tienda</a>

            <a href="subirContenido.jsp">Subir Contenido</a>
            <a href="revisarContenido.jsp">Revisar Contenido</a>
            <a href="colaborador.jsp">Mi Cuenta</a>

            <a href="/login">Iniciar Sesión</a>
        </div>

     {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages%}
           {% if category == 'error' %}
            <div id="flash-messages" class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            {% endif %}
           {% endfor%}
        {% endif%}
        {% endwith %}

        <div class="container2">
            {% block content %}
            {% endblock %}
        </div>


       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
