{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://kit.fontawesome.com/2fffd61d0d.js" crossorigin="anonymous">
    </script>
    <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/IniciarSesion1.css') }}" />
    <title>Iniciar Sesion</title>
  </head>
  <body>

    <!--Formulario de iniciar sesion-->
    <div class="contenedor">
      <div class="contenedor-formularios">
        <div class="iniciar-registrar">
          <form method="POST" class="formulario-iniciar">
            <h2 class="titulo">Iniciar Sesión</h2>
            <div class="campo-entrada">
              <i class="fas fa-envelope"></i>
            <!--Imputs-->
            <input type="text" placeholder="Correo" name="email" required>
            </div>
            <div class="campo-entrada">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" name="password" required>
            </div>
            <input type="hidden" name="type" value="logIn">
            <input type="submit" value="Iniciar Sesión" class="btn-sesion" />
    <!----------------------------------------------------------------------------->

    <!--Redes Sociales-->
            <div class="redes-sociales">
              <a href="#" class="icono-social">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
            <!------------------------------------------------------------------->
          </form>
    <!------------------------------------------------------------------------->

    <!--Formulario Registrarse-->
          <form method="POST" class="formulario-registrar">
            <h2 class="titulo">Regístrate</h2>
            <div class="campo-entrada">
              <i class="fa fa-user"></i>
              <input type="text" placeholder="Nombre" name="nameSingUp" required>
            </div>
            <div class="campo-entrada">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Correo" name="emailSingUp" required>
            </div>
            <div class="campo-entrada">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" name="password1SingUp" required><br>
            </div>
             <div class="campo-entrada">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirme la contraseña" name="password2SingUp" required><br>
            </div>

            <label id="tituloPais" >Selecciona un pais:</label>

            <div class="selector-paises">
              <select id="idioma" name="idioma">
                <option value="1">Español</option>
                <option value="2">Inglés</option>
                <option value="3">Francés</option>
                <option value="4">Alemán</option>
                <option value="5">Italiano</option>
                <option value="6">Portugués</option>
                <option value="7">Mandarín</option>
                <option value="8">Japonés</option>
                <option value="9">Coreano</option>
                <option value="10">Ruso</option>
              </select>
            </div>

         <label >Ser colaborador:</label>
            <div class="checkbox">
              <input type="checkbox" id="click" name="click" value="cl">
              <label for="click" class="text"></label>
            </div><br>

            <input type="hidden" name="type" value="signUp">
            <input type="submit" class="btn-sesion" value="Regístrate" />
    <!-------------------------------------------------------------------------------->

        <!--Redes Sociales-->
            <div class="redes-sociales">
              <a href="#" class="icono-social">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="icono-social">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
  <!------------------------------------------------------------->
          </form>
  <!---------------------------------------------------------------->
        </div>
      </div>

       <!--Texto de arriba(Iniciar Sesion)-->
      <div class="contenedor-panelIzq">
        <div class="panel panel-izquierdo">
          <div class="contenido">
            <h3>¿Eres nuevo?</h3>
            <p>
              ¿Eres nuevo aquí?
              ¡Únete hoy y comienza a explorar todas las funcionalidades exclusivas que tenemos para ti!
            </p>
            <button class="btn transparente" id="btn-registrarse">
              REGÍSTRATE
            </button>
          </div>
  <!------------------------------------------------------------------------>
           <!--Imagen1-->
          <img src="{{ url_for('static', filename='img/imagen2 (1).png') }}" class="imagen" alt="" />
        </div>

         <!--Texto de arriba(Registrarse)-->
        <div class="panel panel-derecho">
          <div class="contenido">
            <h3>¿Ya tienes una cuenta?</h3>
            <p>
              ¿Ya tienes una cuenta? acceder a tu perfil y continuar donde lo dejaste.
              Nos alegra tenerte de vuelta.
            </p>
            <button class="btn transparente" id="btn-iniciar">
              Iniciar Sesión
            </button>
          </div>

          <div class="panel panel-derecho">
            <div class="contenido">
              <h3>¿Quieres ser colaborador?</h3>
              <p>
                Regitrarte activando la opcion podras compartir contenido con nosotros y ser parte de la comunidad
              </p>
            </div><br>


           <!--Imagen2-->
          <img src="{{ url_for('static', filename='img/imagen1 (2).png') }}" class="imagen" alt="" />
        </div>
      </div>
    </div>
 <!------------------------------------------------------------------->

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
     <script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', () => {
        const btn_iniciar = document.querySelector("#btn-iniciar");
        const btn_registrarse = document.querySelector("#btn-registrarse");
        const contenedor = document.querySelector(".contenedor");

        // Manejador para el botón "Registrarse"
        btn_registrarse.addEventListener("click", () => {
            contenedor.classList.add("modo-registrarse");
        });

        // Manejador para el botón "Iniciar Sesión"
        btn_iniciar.addEventListener("click", () => {
            contenedor.classList.remove("modo-registrarse");
        });

        // Manejador para el checkbox
        document.getElementById('click').addEventListener('change', function () {
            var otroInput = document.getElementById('idioma');
            var otroLabel = document.getElementById('tituloPais');
            if (this.checked) {
                otroInput.style.display = 'none';
                otroLabel.style.display = 'none';
            } else {
                otroInput.style.display = 'block';
                otroLabel.style.display = 'block';
            }
        });
    });

  {% if is_singUP %}
  contenedor.classList.add("modo-registrarse");
  {% endif %}

</script>


  </body>
</html>

{% endblock %}